@import url('https://fonts.googleapis.com/css?family=Barriecito|Do+Hyeon&display=swap');

/* 
	Fonts used:
	font-family: 'Barriecito', cursive;
	font-family: 'Do Hyeon', sans-serif;
*/

body {
	background-color: black;
	color: white;
	font-size: 16px;
	font-family: 'Do Hyeon', sans-serif;
}

h1, h2, h3 {
	font-family: 'Barriecito', cursive;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.75em;
	padding: 5px;
}

h3 {
	font-size: 1.5em;
	padding: 5px;
}

.album-art {
	border: 2px solid red;
	padding: 15px;
	margin-left: 20px;
	float: left;
	margin-right: 25px;
	margin-bottom: 15px;
	
}

.clear {
	clear: both;
}

.image-electronics, .image-stage-effects {
	border: 2px solid red;
	padding: 15px;
	margin-left: 25px;
	float: left;
	margin-right: 25px;
	margin-bottom: 25px;
	width: 20%;
}

.record-label {
	color: red;
}

#about-photo {
	border: 2px solid red;
	padding: 15px;
	margin-left: 15px;
	float: left;
	margin-right: 10px;
	margin-bottom: 20px;
}

#copyright {
	color: red;
}

#section-about, #section-discography, #section-equipment {
	border: 2px solid red;
	padding: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
}

#text-intro {
	background-color: darkgrey;
	color: red;
	margin: 10px;
	padding: 15px;
	border: 2px solid red;
	margin-bottom: 30px;
}


